@font-face{
    font-family:"azure-font" ;
    src: url(assets/fonts/latest.woff2);
    font-weight: 500;
}
@font-face{
    font-family:"azure-font" ;
    src: url(assets/fonts/latest\ \(1\).woff2);
    font-weight: 600;
}
@font-face{
    font-family:"azure-font" ;
    src: url(assets/fonts/MWFFluentIcons.woff2);
    font-weight: 800;
}
*{
    box-sizing: none;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media screen and (max-width:768px){
    .mobile-view{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 15px 15px;
    }
    .azure-nav-hamburger{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .hamburger{
        width: 20.058px;
        height: 10.2px;
        padding-left: 1px;
    }
    .azure-text{
        font-family: 'azure-font';
        font-family: 600;
        height: 27px;
        font-size: 18px;
        padding-left: 15.5px;
        padding-top: 2px;
        letter-spacing: -0.5px;
    }
    .ms-logo{
        width: 35.9px;
        height: 32px;
        padding-top: .69px;
        /* padding-left: 21px; */
    }
    .ms-logo img { 
        width: 32.5px;
        height: 31px;
        padding-left: 10.6px;
    }
    .search-signin{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 10px;
        padding-right: 7px;
        padding-left: 5px;
        }
    .search {
        width: 44px;
        padding-top: 4px;
        padding-right: 3px;
    }
    .search::after{
        content: "\e721";
        font-family: 'azure-font';
        font-weight: 800; 
    }
    .sign-in-button{
        font-size: 13px;
        font-weight: 400px;
        padding-top: 5px;
        padding-left: .06px;
        line-height: 1;
        font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
         }
}